.about h2,
.portfolio h2,
.contact h2 {
  margin: 50px 0px;
}

/* Intro Section */
.intro {
  display: flex;
  flex-direction: row;
}

.intro-information {
  flex: 1;
  margin: auto;
}

.intro-information p {
  margin: 50px auto;
  width: 70%;
}

.intro-image {
  flex: 1;
}

.intro-image img,
.contact-text img {
  max-width: 500px;
  max-height: 500px;
}

.intro h2 {
  font-style: italic;
}

/* About Section */
.about {
  background: var(--primary-black);
  text-align: center;
  padding: 100px 0px;
}

.about i,
.about h2,
.about p {
  color: var(--primary-grey);
}

.about i {
  font-size: 7em;
}

.about p {
  margin: 0px auto;
  width: 50%;
  text-align: start;
}

/* Portfolio Section */
.projects {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: auto;
  width: 80%;
}

.project-content {
  flex: 1 1 auto;
  margin-bottom: 40px;
}

.project-content img {
  align-items: center;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.project-content h3 {
  margin: 40px 0px 10px 0px;
  padding-top: 10px;
  border-top: 1px solid;
}

.project-links {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.project-links > * {
  margin: auto;
  width: 50%;
}

/* Contact Section */
.contact {
  display: grid;
  width: 100%;
  grid-template-areas:
    "header header"
    "information image";
}

.contact h2 {
  grid-area: header;
}

.contact-text {
  grid-area: information;
  display: flex;
  flex-direction: row;
}

.contact-text-info {
  flex: 1;
  margin: auto;
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px 0px;
  align-items: center;
  border-top: 1px solid;
  margin: auto;
  width: 50%;
}

.contact i {
  font-size: 4em;
}

.contact h3 {
  font-size: 1em;
  font-weight: 500;
}

.contact p {
  font-size: 1.5em;
  font-weight: 800;
  padding: 10px 0px;
}

.contact-image {
  grid-area: image;
}

.contact-image * {
  max-height: 100px;
}

/* Footer */
footer {
  background: var(--primary-black);
  text-align: center;
  color: var(--primary-white);
  font-size: 1em;
  padding: 20px 0px;
}
