@import "imports/variables.css";

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  color: var(--primary-black);
  background: var(--primary-grey);
}

h1,
h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--primary-black);
}

a:hover {
  text-decoration: underline solid 2px;
}

.cta {
  margin: auto;
  width: 50%;
  background: var(--primary-black);
  color: var(--primary-grey);
  padding: 10px 0px;
  font-size: 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.cta:hover {
  transform: scale(1.1);
}
