@import "imports/variables.css";

/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: var(--primary-font);
  color: var(--primary-black);
  background: var(--primary-grey);
}

h1,
h2 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

p {
  font-size: 1.3em;
}
